<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>help/res/1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/10.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{101,1},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/11.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{201,1},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/12.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,101},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/13.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{101,101},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/14.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{201,101},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/15.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,201},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/16.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{101,201},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/17.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{201,201},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/18.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,301},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/19.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{101,301},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/2.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{201,301},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/2_1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,401},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/2_2.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{101,401},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/2_3.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{201,401},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/20.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,501},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/21.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{101,501},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/22.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{201,501},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/23.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,601},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/24.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{101,601},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/25.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{201,601},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/26.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,701},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/27.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{101,701},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/3.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{201,701},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/4.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,801},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/5.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,901},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/6.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{101,801},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/7.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{201,801},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/8.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{101,901},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>help/res/9.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{201,901},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>icon.jpg</string>
			<key>realTextureFileName</key>
			<string>icon.jpg</string>
			<key>size</key>
			<string>{300,1000}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>300</integer>
			<key>height</key>
			<integer>1000</integer>
		</dict>
	</dict>
</plist>