<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Military_rank/res/rank/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,316},{68,20}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,634},{60,94}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,336},{60,110}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,191},{78,84}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,68},{78,77}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{78,94}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,113},{78,114}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,220},{78,118}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,275},{103,58}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,434},{96,76}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,220},{96,94}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,806},{68,47}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{96,107}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,338},{96,95}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,191},{71,91}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,434},{71,106}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,0},{68,115}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{106,113}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,530},{68,71}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,0},{67,87}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,68},{78,40}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,728},{78,63}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,108},{78,83}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,0},{80,102}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
			<key>Military_rank/res/rank/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,634},{60,81}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,119}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ranks.png</string>
			<key>realTextureFileName</key>
			<string>ranks.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>