<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_fx_jinjie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,259}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{270,259}}</string>
                <key>sourceSize</key>
                <string>{274,261}</string>
            </dict>
            <key>ui_fx_jinjie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{20,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,296}}</string>
                <key>sourceSize</key>
                <string>{20,296}</string>
            </dict>
            <key>ui_fx_jinjie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,2},{87,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,221}}</string>
                <key>sourceSize</key>
                <string>{87,221}</string>
            </dict>
            <key>ui_fx_jinjie5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{20,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,296}}</string>
                <key>sourceSize</key>
                <string>{20,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_fx_jinjie.pvr.ccz</string>
            <key>size</key>
            <string>{374,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:047cd76afcd039aa41c54fcb875eb053$</string>
            <key>textureFileName</key>
            <string>ui_fx_jinjie.pvr.ccz</string>
        </dict>
    </dict>
</plist>
