<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>medal/res/medal/1_01.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/1_02.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,80},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/1_03.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,160},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/1_04.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/1_05.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,320},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/1_06.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/2_01.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/2_02.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,560},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/2_03.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,640},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/2_04.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/2_05.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/2_06.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,880},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/3_01.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{80,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/3_02.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{160,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/3_03.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/3_04.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{320,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/3_05.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/3_06.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/4_01.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{560,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/4_02.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/4_03.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/4_04.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/4_05.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{880,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/4_06.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{80,80},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/5_01.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{80,160},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/5_02.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{80,240},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/5_03.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{80,320},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/5_04.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{80,400},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/5_05.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{80,480},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/5_06.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{80,560},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/6_01.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{80,640},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/6_02.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{80,720},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/6_03.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{80,800},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/6_04.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{80,880},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/6_05.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{160,80},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/6_06.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{240,80},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/7_01.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{320,80},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/7_02.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{400,80},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/7_03.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{480,80},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/7_04.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{560,80},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/7_05.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{640,80},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>medal/res/medal/7_06.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{720,80},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>medals.png</string>
			<key>realTextureFileName</key>
			<string>medals.png</string>
			<key>size</key>
			<string>{960,960}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>960</integer>
			<key>height</key>
			<integer>960</integer>
		</dict>
	</dict>
</plist>