<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_fx_zhiyuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,86}}</string>
                <key>sourceSize</key>
                <string>{424,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s1.pvr.ccz</string>
            <key>size</key>
            <string>{428,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3630f9c2fd2d607ccaaec7844d561c3$</string>
            <key>textureFileName</key>
            <string>s1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
