<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_fx_warboom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{153,162}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,31},{153,162}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>ui_fx_warboom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,176}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{147,176}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>ui_fx_warboom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{145,174}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,19},{145,174}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>ui_fx_warboom_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{147,174}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{147,174}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>ui_fx_warboom_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{141,168}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{141,168}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>ui_fx_warboom_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,145},{127,162}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{127,162}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>ui_fx_warboom_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,149},{109,160}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{109,160}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
            <key>ui_fx_warboom_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,260},{115,118}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{115,118}}</string>
                <key>sourceSize</key>
                <string>{165,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_fx_warboom.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e7735d4de67fadcbd3c71b31df4f828$</string>
            <key>textureFileName</key>
            <string>ui_fx_warboom.pvr.ccz</string>
        </dict>
    </dict>
</plist>
