<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>soul_road/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,299},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>soul_road/res/road4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{442,975},{265,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,46}</string>
			</dict>
			<key>soul_road/res/road5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,949},{255,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,28}</string>
			</dict>
			<key>soul_road/res/road5_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,975},{255,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,28}</string>
			</dict>
			<key>soul_road/res/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1082,654},{190,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,100}</string>
			</dict>
			<key>soul_road/res/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,729},{130,87}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,88}</string>
			</dict>
			<key>soul_road/res/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,835},{330,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,165}</string>
			</dict>
			<key>soul_road/res/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,667},{354,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{354,166}</string>
			</dict>
			<key>soul_road/res/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,739},{334,167}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{335,169}</string>
			</dict>
			<key>soul_road/res/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1522,847},{52,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,69}</string>
			</dict>
			<key>soul_road/res/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,335},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>soul_road/res/road1.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,908},{305,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,65}</string>
			</dict>
			<key>soul_road/res/road1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,968},{305,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{306,65}</string>
			</dict>
			<key>soul_road/res/road2.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,299},{255,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,92}</string>
			</dict>
			<key>soul_road/res/road2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,299},{255,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,92}</string>
			</dict>
			<key>soul_road/res/road3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,299},{203,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,353}</string>
			</dict>
			<key>soul_road/res/road3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,393},{203,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,353}</string>
			</dict>
			<key>soul_road/res/road4.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,393},{267,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,46}</string>
			</dict>
			<key>soul_road/res/bg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{605,442}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{605,442}</string>
			</dict>
			<key>soul_road/res/biaoti1.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,724},{172,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,50}</string>
			</dict>
			<key>soul_road/res/color2.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,874},{183,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,45}</string>
			</dict>
			<key>soul_road/res/color3.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,842},{183,44}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,45}</string>
			</dict>
			<key>soul_road/res/color4.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,748},{183,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,45}</string>
			</dict>
			<key>soul_road/res/color5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1052,756},{183,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,45}</string>
			</dict>
			<key>soul_road/res/color6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1052,851},{183,44}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,45}</string>
			</dict>
			<key>soul_road/res/diaoluo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1387,880},{117,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,24}</string>
			</dict>
			<key>soul_road/res/g1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,721},{126,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>soul_road/res/g2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1538,595},{127,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,124}</string>
			</dict>
			<key>soul_road/res/g3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,595},{127,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,124}</string>
			</dict>
			<key>soul_road/res/g4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1274,729},{127,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,122}</string>
			</dict>
			<key>soul_road/res/g5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1538,721},{127,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,124}</string>
			</dict>
			<key>soul_road/res/g6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,846},{126,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,123}</string>
			</dict>
			<key>soul_road/res/guanka.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,942},{116,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,24}</string>
			</dict>
			<key>soul_road/res/name2.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,825},{146,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,47}</string>
			</dict>
			<key>soul_road/res/k1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,474},{209,253}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,254}</string>
			</dict>
			<key>soul_road/res/k2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,1},{172,471}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,471}</string>
			</dict>
			<key>soul_road/res/name1.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,888},{147,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,46}</string>
			</dict>
			<key>soul_road/res/light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1},{252,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,299}</string>
			</dict>
			<key>soul_road/res/light3.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1},{252,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,299}</string>
			</dict>
			<key>soul_road/res/light4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1116,1},{252,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,299}</string>
			</dict>
			<key>soul_road/res/light5.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,441},{252,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,299}</string>
			</dict>
			<key>soul_road/res/light6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,1},{252,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,299}</string>
			</dict>
			<key>soul_road/res/peiyang.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,921},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>soul_road/res/name5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1313,906},{146,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,46}</string>
			</dict>
			<key>soul_road/res/xiaofei.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,901},{146,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,46}</string>
			</dict>
			<key>soul_road/res/yitongguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,818},{117,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,61}</string>
			</dict>
			<key>soul_road/res/name3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1052,803},{179,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,46}</string>
			</dict>
			<key>soul_road/res/name0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,853},{148,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,46}</string>
			</dict>
			<key>soul_road/res/zhandou.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,945},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>soul_road/res/name4.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,776},{148,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,47}</string>
			</dict>
			<key>soul_road/res/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1023},{615,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,3}</string>
			</dict>
			<key>soul_road/res/lingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,969},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>soul_road/res/meirijiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,667},{201,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,56}</string>
			</dict>
			<key>soul_road/res/klqmejl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,917},{201,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,23}</string>
			</dict>
			<key>soul_road/res/daily_rewards_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,445},{612,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{612,220}</string>
			</dict>
			<key>soul_road/res/dqjd.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,936},{118,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,23}</string>
			</dict>
			<key>soul_road/res/mrjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,945},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>soul_road/res/color1.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,795},{183,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,45}</string>
			</dict>
			<key>soul_road/res/light1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,299},{248,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,296}</string>
			</dict>
			<key>soul_road/res/name6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,897},{147,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>res.png</string>
			<key>realTextureFileName</key>
			<string>res.png</string>
			<key>size</key>
			<string>{1797,1034}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1797</integer>
			<key>height</key>
			<integer>1034</integer>
		</dict>
	</dict>
</plist>