<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lucky_indiana/res/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,314},{260,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{260,31}</string>
			</dict>
			<key>lucky_indiana/res/di2.png</key>
			<dict>
				<key>frame</key>
				<string>{{968,440},{196,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{196,34}</string>
			</dict>
			<key>lucky_indiana/res/duobao.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{481,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{481,112}</string>
			</dict>
			<key>lucky_indiana/res/ewai.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,625},{174,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,34}</string>
			</dict>
			<key>lucky_indiana/res/henengshop.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,0},{486,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{486,112}</string>
			</dict>
			<key>lucky_indiana/res/hongse.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,799},{141,152}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,181}</string>
			</dict>
			<key>lucky_indiana/res/huise.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,790},{141,152}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,181}</string>
			</dict>
			<key>lucky_indiana/res/juan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,951},{45,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,50}</string>
			</dict>
			<key>lucky_indiana/res/liebian.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,729},{66,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,61}</string>
			</dict>
			<key>lucky_indiana/res/kuang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,799},{144,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,122}</string>
			</dict>
			<key>lucky_indiana/res/kuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,799},{144,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,122}</string>
			</dict>
			<key>lucky_indiana/res/kuang3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{264,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,227}</string>
			</dict>
			<key>lucky_indiana/res/jubian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,729},{64,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,61}</string>
			</dict>
			<key>lucky_indiana/res/liebiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,636},{174,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,34}</string>
			</dict>
			<key>lucky_indiana/res/mingc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,515},{59,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,21}</string>
			</dict>
			<key>lucky_indiana/res/shijian.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,314},{415,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{415,54}</string>
			</dict>
			<key>lucky_indiana/res/shop.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,910},{98,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,101}</string>
			</dict>
			<key>lucky_indiana/res/xiangzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,799},{126,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,111}</string>
			</dict>
			<key>lucky_indiana/res/270.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,314},{127,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,21}</string>
			</dict>
			<key>lucky_indiana/res/60.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,441},{109,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,21}</string>
			</dict>
			<key>lucky_indiana/res/xiyou.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,729},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>lucky_indiana/res/hjxd06.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{862,0},{314,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{314,112}</string>
			</dict>
			<key>lucky_indiana/res/lingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,574},{58,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,21}</string>
			</dict>
			<key>lucky_indiana/res/quwancheng.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,550},{75,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,21}</string>
			</dict>
			<key>lucky_indiana/res/444.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,0},{440,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{440,49}</string>
			</dict>
			<key>lucky_indiana/res/1a.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,574},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>
			<key>lucky_indiana/res/yilingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,440},{75,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,21}</string>
			</dict>
			<key>lucky_indiana/res/xuanze.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,799},{144,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,122}</string>
			</dict>
			<key>lucky_indiana/res/liang.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,799},{141,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,148}</string>
			</dict>
			<key>lucky_indiana/res/xiangzi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,810},{129,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,106}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>lucky.png</string>
			<key>realTextureFileName</key>
			<string>lucky.png</string>
			<key>size</key>
			<string>{1023,1011}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1011</integer>
		</dict>
	</dict>
</plist>