<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>legion/res/basic/canmouzhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,379},{88,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,24}</string>
			</dict>
			<key>legion/res/basic/caozuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,323},{55,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,22}</string>
			</dict>
			<key>legion/res/basic/caozuotishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,546},{147,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,46}</string>
			</dict>
			<key>legion/res/basic/chazhao.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,434},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion/res/basic/chuangjianjuntuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,132},{133,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,27}</string>
			</dict>
			<key>legion/res/basic/diwen2.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,132},{231,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,107}</string>
			</dict>
			<key>legion/res/basic/fusiling.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,492},{116,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,25}</string>
			</dict>
			<key>legion/res/basic/hengtiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1},{336,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{336,23}</string>
			</dict>
			<key>legion/res/basic/hengtiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1},{518,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{518,23}</string>
			</dict>
			<key>legion/res/basic/hengtiao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,521},{731,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{731,23}</string>
			</dict>
			<key>legion/res/basic/jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,405},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion/res/basic/jiarutishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,546},{146,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,46}</string>
			</dict>
			<key>legion/res/basic/jiesanjuntuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,241},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>legion/res/basic/jiesan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,546},{148,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,46}</string>
			</dict>
			<key>legion/res/basic/jujue.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,267},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion/res/basic/juntuangonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,241},{110,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,23}</string>
			</dict>
			<key>legion/res/basic/juntuansiling.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,339},{174,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{174,25}</string>
			</dict>
			<key>legion/res/basic/manyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,322},{110,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,86}</string>
			</dict>
			<key>legion/res/basic/pizhun.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,331},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion/res/basic/shengzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,395},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion/res/basic/shenqingzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,515},{81,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,22}</string>
			</dict>
			<key>legion/res/basic/shuru1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,546},{137,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,52}</string>
			</dict>
			<key>legion/res/basic/tiaozhengzhiwei.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,546},{147,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,46}</string>
			</dict>
			<key>legion/res/basic/tiaozhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,419},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion/res/basic/tiren.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,350},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion/res/basic/xiugaigonggao.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,444},{146,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,46}</string>
			</dict>
			<key>legion/res/basic/xuanze1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,239},{391,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,81}</string>
			</dict>
			<key>legion/res/basic/xuanze2.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,405},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>legion/res/basic/yijianjujue.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,241},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>legion/res/basic/h1.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,273},{56,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,23}</string>
			</dict>
			<key>legion/res/basic/h2.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,273},{56,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,23}</string>
			</dict>
			<key>legion/res/basic/h3.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,298},{56,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,23}</string>
			</dict>
			<key>legion/res/basic/h4.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,241},{110,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,23}</string>
			</dict>
			<key>legion/res/basic/q1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,379},{101,45}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,45}</string>
			</dict>
			<key>legion/res/basic/q2.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,322},{100,41}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,41}</string>
			</dict>
			<key>legion/res/basic/q3.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,322},{103,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,46}</string>
			</dict>
			<key>legion/res/basic/q4.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,241},{101,30}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,30}</string>
			</dict>
			<key>legion/res/basic/tuichujuntuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,267},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>legion/res/basic/queding.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,498},{58,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,21}</string>
			</dict>
			<key>legion/res/basic/quxiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,273},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion/res/basic/kuang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{722,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{722,129}</string>
			</dict>
			<key>legion/res/basic/mail_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,434},{69,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,51}</string>
			</dict>
			<key>legion/res/basic/mail_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,239},{203,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{203,56}</string>
			</dict>
			<key>legion/res/basic/mail_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,444},{293,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,56}</string>
			</dict>
			<key>legion/res/basic/qq.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,353},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>legion/res/basic/qq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,132},{453,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{453,105}</string>
			</dict>
			<key>legion/res/basic/mail_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,322},{201,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>legion_basic.png</string>
			<key>realTextureFileName</key>
			<string>legion_basic.png</string>
			<key>size</key>
			<string>{776,599}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>776</integer>
			<key>height</key>
			<integer>599</integer>
		</dict>
	</dict>
</plist>