<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>god_of_war/res/a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,51},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/a10.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,51},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,51},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,51},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,51},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,51},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/a6.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,0},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/a8.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,0},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/a9.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,0},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/cellbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,56}</string>
			</dict>
			<key>god_of_war/res/cellbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,0},{206,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,56}</string>
			</dict>
			<key>god_of_war/res/icon1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{893,185},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>god_of_war/res/icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,0},{89,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,91}</string>
			</dict>
			<key>god_of_war/res/s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,0},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/s10.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,28},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/s2.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,56},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/s3.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,84},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/s4.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,89},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/s5.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,89},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/s6.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,89},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/s7.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,112},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/s8.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,140},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/s9.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,168},{185,28}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{441,131}</string>
			</dict>
			<key>god_of_war/res/titleimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,0},{173,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,51}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>godwar.png</string>
			<key>realTextureFileName</key>
			<string>godwar.png</string>
			<key>size</key>
			<string>{1017,274}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>274</integer>
		</dict>
	</dict>
</plist>