<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>carray/res/shouhuo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,222},{138,104}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,105}</string>
			</dict>
			<key>carray/res/shouhuo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,158},{140,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,106}</string>
			</dict>
			<key>carray/res/shumu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{204,219}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,224}</string>
			</dict>
			<key>carray/res/suijiweipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,427},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>carray/res/tongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,264},{85,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,46}</string>
			</dict>
			<key>carray/res/touxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,443},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>carray/res/w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,265},{60,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,33}</string>
			</dict>
			<key>carray/res/w2.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,158},{58,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,37}</string>
			</dict>
			<key>carray/res/w3.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,197},{60,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,35}</string>
			</dict>
			<key>carray/res/w4.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,234},{58,35}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,37}</string>
			</dict>
			<key>carray/res/w5.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,155},{54,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,34}</string>
			</dict>
			<key>carray/res/xuanze1.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,134},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>carray/res/yayunjilu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,600},{146,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,59}</string>
			</dict>
			<key>carray/res/yayunjilu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,600},{147,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,46}</string>
			</dict>
			<key>carray/res/yayunxinxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,602},{147,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,46}</string>
			</dict>
			<key>carray/res/ziji.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,235},{29,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,28}</string>
			</dict>
			<key>carray/res/zuduei.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,451},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>carray/res/zudueiyayun.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,488},{202,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,56}</string>
			</dict>
			<key>carray/res/di11.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,648},{144,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,19}</string>
			</dict>
			<key>carray/res/di12.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1},{216,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,155}</string>
			</dict>
			<key>carray/res/di13.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1},{34,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,98}</string>
			</dict>
			<key>carray/res/guanbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,475},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>carray/res/huode.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,1},{125,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,131}</string>
			</dict>
			<key>carray/res/jiantou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,101},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>
			<key>carray/res/jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,213},{52,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,20}</string>
			</dict>
			<key>carray/res/jieshouweipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,545},{201,55}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,56}</string>
			</dict>
			<key>carray/res/jieshouweipai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,494},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>carray/res/jiludi.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,368},{221,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,118}</string>
			</dict>
			<key>carray/res/jutuanyayun.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,547},{171,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,51}</string>
			</dict>
			<key>carray/res/likai.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,191},{54,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,20}</string>
			</dict>
			<key>carray/res/lueduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,300},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>carray/res/qiangxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,540},{91,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,20}</string>
			</dict>
			<key>carray/res/qiangzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,499},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>carray/res/querenjieshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,518},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>carray/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,253},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>carray/res/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,264},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>carray/res/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,328},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>carray/res/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,312},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>carray/res/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,379},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>carray/res/shuaxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,523},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>res.png</string>
			<key>realTextureFileName</key>
			<string>res.png</string>
			<key>size</key>
			<string>{599,668}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>599</integer>
			<key>height</key>
			<integer>668</integer>
		</dict>
	</dict>
</plist>