<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>servicewar/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,149},{170,50}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,51}</string>
			</dict>
			<key>servicewar/res/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,149},{275,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,43}</string>
			</dict>
			<key>servicewar/res/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,149},{84,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,52}</string>
			</dict>
			<key>servicewar/res/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,308},{82,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,37}</string>
			</dict>
			<key>servicewar/res/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,308},{85,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,41}</string>
			</dict>
			<key>servicewar/res/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,352},{204,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{206,57}</string>
			</dict>
			<key>servicewar/res/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,187},{43,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,40}</string>
			</dict>
			<key>servicewar/res/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,149},{200,54}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,57}</string>
			</dict>
			<key>servicewar/res/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,479},{120,261}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,261}</string>
			</dict>
			<key>servicewar/res/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,352},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>servicewar/res/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,149},{350,50}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,51}</string>
			</dict>
			<key>servicewar/res/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,479},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>servicewar/res/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,426},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>servicewar/res/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,461},{81,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,22}</string>
			</dict>
			<key>servicewar/res/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,352},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>servicewar/res/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,321},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>servicewar/res/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,554},{275,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,43}</string>
			</dict>
			<key>servicewar/res/b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,149},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>servicewar/res/cell.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,270},{218,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,36}</string>
			</dict>
			<key>servicewar/res/jiantou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,203},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>
			<key>servicewar/res/z1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,352},{125,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,349}</string>
			</dict>
			<key>servicewar/res/z2.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1},{129,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,349}</string>
			</dict>
			<key>servicewar/res/33333.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,149},{119,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,34}</string>
			</dict>
			<key>servicewar/res/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{452,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{452,146}</string>
			</dict>
			<key>servicewar/res/dianfengduijue.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,501},{172,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,50}</string>
			</dict>
			<key>servicewar/res/rank1.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,149},{49,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,38}</string>
			</dict>
			<key>servicewar/res/rank2.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,558},{51,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,38}</string>
			</dict>
			<key>servicewar/res/rank3.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,203},{51,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>servicewar.png</string>
			<key>realTextureFileName</key>
			<string>servicewar.png</string>
			<key>size</key>
			<string>{597,600}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>597</integer>
			<key>height</key>
			<integer>600</integer>
		</dict>
	</dict>
</plist>