<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>service_legion_war/res/1nd_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,851},{57,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,26}</string>
			</dict>
			<key>service_legion_war/res/2nd_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,851},{68,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,27}</string>
			</dict>
			<key>service_legion_war/res/3nd_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,851},{70,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,29}</string>
			</dict>
			<key>service_legion_war/res/bgtouming.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,212},{92,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,81}</string>
			</dict>
			<key>service_legion_war/res/buzhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,987},{62,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,24}</string>
			</dict>
			<key>service_legion_war/res/chakan.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,0},{109,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,25}</string>
			</dict>
			<key>service_legion_war/res/gerenpaiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,851},{226,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,35}</string>
			</dict>
			<key>service_legion_war/res/huanfang.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,987},{62,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,24}</string>
			</dict>
			<key>service_legion_war/res/huanfangtitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,886},{293,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,56}</string>
			</dict>
			<key>service_legion_war/res/jiahao.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,897},{59,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,56}</string>
			</dict>
			<key>service_legion_war/res/jihuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,978},{62,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,25}</string>
			</dict>
			<key>service_legion_war/res/jingong.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,897},{62,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,24}</string>
			</dict>
			<key>service_legion_war/res/title4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,588},{954,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{954,33}</string>
			</dict>
			<key>service_legion_war/res/title5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,621},{954,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{954,33}</string>
			</dict>
			<key>service_legion_war/res/kuang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,897},{130,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,90}</string>
			</dict>
			<key>service_legion_war/res/legoin_war.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,942},{272,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,57}</string>
			</dict>
			<key>service_legion_war/res/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,654},{954,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{954,33}</string>
			</dict>
			<key>service_legion_war/res/paiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,851},{226,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{226,35}</string>
			</dict>
			<key>service_legion_war/res/yigongpo.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,89},{123,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,86}</string>
			</dict>
			<key>service_legion_war/res/yilingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,978},{76,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,22}</string>
			</dict>
			<key>service_legion_war/res/title3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,687},{954,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{954,33}</string>
			</dict>
			<key>service_legion_war/res/zhushou.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,987},{62,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,25}</string>
			</dict>
			<key>service_legion_war/res/1-di.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{499,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{499,89}</string>
			</dict>
			<key>service_legion_war/res/3-di.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,0},{499,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{499,89}</string>
			</dict>
			<key>service_legion_war/res/2-di.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,89},{499,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{499,89}</string>
			</dict>
			<key>service_legion_war/res/title1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{954,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{954,33}</string>
			</dict>
			<key>service_legion_war/res/jiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,851},{127,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,56}</string>
			</dict>
			<key>service_legion_war/res/title2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,753},{954,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{954,33}</string>
			</dict>
			<key>service_legion_war/res/a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,109},{533,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{533,58}</string>
			</dict>
			<key>service_legion_war/res/zhufangjieduan.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,642},{361,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{361,65}</string>
			</dict>
			<key>service_legion_war/res/qq1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,786},{361,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{361,65}</string>
			</dict>
			<key>service_legion_war/res/qq2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,897},{355,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{361,65}</string>
			</dict>
			<key>service_legion_war/res/jingongjieduan.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,786},{361,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{361,65}</string>
			</dict>
			<key>service_legion_war/res/kuafu_juntuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,842},{221,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{221,55}</string>
			</dict>
			<key>service_legion_war/res/kuafu_quanjuntuji.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,786},{220,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>main.png</string>
			<key>realTextureFileName</key>
			<string>main.png</string>
			<key>size</key>
			<string>{1023,1012}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1012</integer>
		</dict>
	</dict>
</plist>