<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>legion_boss/res/sjboss0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,206},{61,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,26}</string>
			</dict>
			<key>legion_boss/res/sjboss0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,210},{61,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,26}</string>
			</dict>
			<key>legion_boss/res/sjboss0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,162},{58,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,22}</string>
			</dict>
			<key>legion_boss/res/sjboss0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,131},{165,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,38}</string>
			</dict>
			<key>legion_boss/res/sjboss0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{496,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{496,47}</string>
			</dict>
			<key>legion_boss/res/sjboss0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,368},{313,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,25}</string>
			</dict>
			<key>legion_boss/res/sjboss0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,334},{319,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,32}</string>
			</dict>
			<key>legion_boss/res/sjboss0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,197},{101,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,22}</string>
			</dict>
			<key>legion_boss/res/sjboss0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,221},{101,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,22}</string>
			</dict>
			<key>legion_boss/res/sjboss0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,186},{58,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,22}</string>
			</dict>
			<key>legion_boss/res/sjboss0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,238},{119,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,28}</string>
			</dict>
			<key>legion_boss/res/sjboss0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,210},{119,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,27}</string>
			</dict>
			<key>legion_boss/res/sjboss0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,239},{101,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,22}</string>
			</dict>
			<key>legion_boss/res/yulan2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,50},{205,79}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,80}</string>
			</dict>
			<key>legion_boss/res/yulan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,171},{161,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,37}</string>
			</dict>
			<key>legion_boss/res/sjboss0020.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{1,263},{349,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{349,34}</string>
			</dict>
			<key>legion_boss/res/jtboss_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,299},{319,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{319,33}</string>
			</dict>
			<key>legion_boss/res/jtboss_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,107},{228,53}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{229,54}</string>
			</dict>
			<key>legion_boss/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,162},{208,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,33}</string>
			</dict>
			<key>legion_boss/res/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,50},{54,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,53}</string>
			</dict>
			<key>legion_boss/res/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,105},{54,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,53}</string>
			</dict>
			<key>legion_boss/res/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,197},{96,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,42}</string>
			</dict>
			<key>legion_boss/res/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,50},{247,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,55}</string>
			</dict>
			<key>legion_boss/res/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,160},{56,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>legionboss.png</string>
			<key>realTextureFileName</key>
			<string>legionboss.png</string>
			<key>size</key>
			<string>{512,394}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>394</integer>
		</dict>
	</dict>
</plist>