<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>strong/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,906},{297,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,69}</string>
			</dict>
			<key>strong/res/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,664},{76,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,27}</string>
			</dict>
			<key>strong/res/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,791},{313,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{313,115}</string>
			</dict>
			<key>strong/res/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,791},{316,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,121}</string>
			</dict>
			<key>strong/res/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,223},{53,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,520}</string>
			</dict>
			<key>strong/res/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,664},{624,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{624,127}</string>
			</dict>
			<key>strong/res/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,0},{295,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{295,22}</string>
			</dict>
			<key>strong/res/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,615},{308,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,40}</string>
			</dict>
			<key>strong/res/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,295},{292,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,22}</string>
			</dict>
			<key>strong/res/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,587},{77,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,27}</string>
			</dict>
			<key>strong/res/a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,615},{107,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,46}</string>
			</dict>
			<key>strong/res/a10.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,473},{104,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,46}</string>
			</dict>
			<key>strong/res/a11.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,615},{181,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,44}</string>
			</dict>
			<key>strong/res/a12.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,276},{105,46}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,47}</string>
			</dict>
			<key>strong/res/a13.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,975},{106,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,46}</string>
			</dict>
			<key>strong/res/a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,322},{105,46}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,47}</string>
			</dict>
			<key>strong/res/a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,906},{107,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,46}</string>
			</dict>
			<key>strong/res/a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,911},{107,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,46}</string>
			</dict>
			<key>strong/res/a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,975},{183,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,44}</string>
			</dict>
			<key>strong/res/a6.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,427},{105,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,46}</string>
			</dict>
			<key>strong/res/a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,975},{154,46}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,46}</string>
			</dict>
			<key>strong/res/a8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,911},{171,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,44}</string>
			</dict>
			<key>strong/res/a9.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,519},{104,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,46}</string>
			</dict>
			<key>strong/res/s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,542},{85,66}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,67}</string>
			</dict>
			<key>strong/res/s10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,369},{90,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,85}</string>
			</dict>
			<key>strong/res/s12.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,452},{78,75}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>
			<key>strong/res/s13.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,459},{83,77}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>strong/res/s2.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,530},{78,75}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>
			<key>strong/res/s3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,547},{93,65}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,66}</string>
			</dict>
			<key>strong/res/s5.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,369},{83,77}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,81}</string>
			</dict>
			<key>strong/res/s6.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,349},{69,71}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,72}</string>
			</dict>
			<key>strong/res/s9.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,276},{73,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{73,68}</string>
			</dict>
			<key>strong/res/s11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,276},{87,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,93}</string>
			</dict>
			<key>strong/res/s4.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,276},{85,66}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,67}</string>
			</dict>
			<key>strong/res/s7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,459},{88,84}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>strong/res/s8.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,911},{98,87}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>strong/res/meizhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{223,538}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{223,538}</string>
			</dict>
			<key>strong/res/textBg.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,0},{615,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{615,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>strong.png</string>
			<key>realTextureFileName</key>
			<string>strong.png</string>
			<key>size</key>
			<string>{659,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>659</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>