<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>inter_service_escort/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,0},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>inter_service_escort/res/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,208},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>inter_service_escort/res/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>inter_service_escort/res/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,0},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>inter_service_escort/res/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,194},{113,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>
			<key>inter_service_escort/res/di11.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,642},{148,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,19}</string>
			</dict>
			<key>inter_service_escort/res/di12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,224},{216,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,155}</string>
			</dict>
			<key>inter_service_escort/res/di13.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,541},{34,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,98}</string>
			</dict>
			<key>inter_service_escort/res/guanbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,172},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>inter_service_escort/res/huode.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,661},{125,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,131}</string>
			</dict>
			<key>inter_service_escort/res/jiantou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,661},{34,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,52}</string>
			</dict>
			<key>inter_service_escort/res/jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,783},{53,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,20}</string>
			</dict>
			<key>inter_service_escort/res/jieshouweipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,368},{203,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,56}</string>
			</dict>
			<key>inter_service_escort/res/jieshouweipai1.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,172},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>inter_service_escort/res/jiludi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,440},{221,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{221,118}</string>
			</dict>
			<key>inter_service_escort/res/jutuanyayun.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,113},{171,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,51}</string>
			</dict>
			<key>inter_service_escort/res/likai.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,683},{54,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,20}</string>
			</dict>
			<key>inter_service_escort/res/lueduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,713},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>inter_service_escort/res/qiangxing.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,763},{91,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,20}</string>
			</dict>
			<key>inter_service_escort/res/qiangzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,998},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>inter_service_escort/res/querenjieshou.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,952},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>inter_service_escort/res/shouhuo1.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,224},{144,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{144,105}</string>
			</dict>
			<key>inter_service_escort/res/shouhuo2.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,440},{146,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{146,106}</string>
			</dict>
			<key>inter_service_escort/res/shuaxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,974},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>inter_service_escort/res/shuaxin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,661},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>inter_service_escort/res/shumu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{204,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,224}</string>
			</dict>
			<key>inter_service_escort/res/suijiweipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,996},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>inter_service_escort/res/tongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,952},{85,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,46}</string>
			</dict>
			<key>inter_service_escort/res/touxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,113},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>inter_service_escort/res/w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,792},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>inter_service_escort/res/w2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,872},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>inter_service_escort/res/w3.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,792},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>inter_service_escort/res/w4.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,872},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>inter_service_escort/res/w5.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,661},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>inter_service_escort/res/xuanze1.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,424},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>
			<key>inter_service_escort/res/yayunjilu.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,113},{148,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,59}</string>
			</dict>
			<key>inter_service_escort/res/yayunjilu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,321},{147,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,46}</string>
			</dict>
			<key>inter_service_escort/res/yayunxinxi.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,51},{147,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,46}</string>
			</dict>
			<key>inter_service_escort/res/ziji.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,836},{29,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,28}</string>
			</dict>
			<key>inter_service_escort/res/zuduei.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,741},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>inter_service_escort/res/zudueiyayun.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,586},{204,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,56}</string>
			</dict>
			<key>inter_service_escort/res/kuafu.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,0},{171,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{171,51}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>res.png</string>
			<key>realTextureFileName</key>
			<string>res.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>