<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>service_faction_war/res/chuji.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,208},{203,56}}</string>
				<key>offset</key>
				<string>{-18,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{454,100}</string>
			</dict>
			<key>service_faction_war/res/feiji.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,349},{72,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,57}</string>
			</dict>
			<key>service_faction_war/res/hong.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,272},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>service_faction_war/res/hongtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,476},{48,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,23}</string>
			</dict>
			<key>service_faction_war/res/huangtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,481},{278,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{278,14}</string>
			</dict>
			<key>service_faction_war/res/jiaru.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,1},{172,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,51}</string>
			</dict>
			<key>service_faction_war/res/jingong.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,272},{84,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,46}</string>
			</dict>
			<key>service_faction_war/res/jinse.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,1},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>service_faction_war/res/lan.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,175},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>service_faction_war/res/lantiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,476},{48,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,23}</string>
			</dict>
			<key>service_faction_war/res/lv.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,230},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>service_faction_war/res/lvtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,476},{48,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,23}</string>
			</dict>
			<key>service_faction_war/res/tiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,300},{280,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{280,63}</string>
			</dict>
			<key>service_faction_war/res/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,423},{173,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,51}</string>
			</dict>
			<key>service_faction_war/res/zhengduo.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,365},{205,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,56}</string>
			</dict>
			<key>service_faction_war/res/zhenyingboss.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,365},{248,56}}</string>
				<key>offset</key>
				<string>{3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{454,100}</string>
			</dict>
			<key>service_faction_war/res/zhenyingjunxian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,423},{206,56}}</string>
				<key>offset</key>
				<string>{-18,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{454,100}</string>
			</dict>
			<key>service_faction_war/res/zhenyingpaihang.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,1},{205,56}}</string>
				<key>offset</key>
				<string>{-19,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{454,100}</string>
			</dict>
			<key>service_faction_war/res/zhenyingshop.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,423},{206,56}}</string>
				<key>offset</key>
				<string>{-18,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{454,100}</string>
			</dict>
			<key>service_faction_war/res/zhenyingt.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{297,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{297,69}</string>
			</dict>
			<key>service_faction_war/res/a.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,175},{172,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,50}</string>
			</dict>
			<key>service_faction_war/res/b.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1},{172,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,50}</string>
			</dict>
			<key>service_faction_war/res/c.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,98},{172,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>common.png</string>
			<key>realTextureFileName</key>
			<string>common.png</string>
			<key>size</key>
			<string>{591,500}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>591</integer>
			<key>height</key>
			<integer>500</integer>
		</dict>
	</dict>
</plist>