<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>server_exercise/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{274,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,89}</string>
			</dict>
			<key>server_exercise/res/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,947},{30,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,38}</string>
			</dict>
			<key>server_exercise/res/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,901},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,40}</string>
			</dict>
			<key>server_exercise/res/attack.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,890},{58,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,22}</string>
			</dict>
			<key>server_exercise/res/check.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,333},{99,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,21}</string>
			</dict>
			<key>server_exercise/res/chenghao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,220},{184,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,41}</string>
			</dict>
			<key>server_exercise/res/chenghao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,359},{184,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,41}</string>
			</dict>
			<key>server_exercise/res/chenghao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,359},{184,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,41}</string>
			</dict>
			<key>server_exercise/res/chenghao4.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,270},{184,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,41}</string>
			</dict>
			<key>server_exercise/res/out.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,985},{60,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,22}</string>
			</dict>
			<key>server_exercise/res/rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,985},{75,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,21}</string>
			</dict>
			<key>server_exercise/res/servr-title.png</key>
			<dict>
				<key>frame</key>
				<string>{{948,0},{220,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{220,57}</string>
			</dict>
			<key>server_exercise/res/shuaxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,220},{104,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,22}</string>
			</dict>
			<key>server_exercise/res/talk.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,324},{104,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,22}</string>
			</dict>
			<key>server_exercise/res/vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,744},{157,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,152}</string>
			</dict>
			<key>server_exercise/res/zhanbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,890},{57,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,21}</string>
			</dict>
			<key>server_exercise/res/zhanbao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,901},{127,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,57}</string>
			</dict>
			<key>server_exercise/res/in.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,958},{80,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,27}</string>
			</dict>
			<key>server_exercise/res/chenghao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,958},{126,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,56}</string>
			</dict>
			<key>server_exercise/res/mybattle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,404},{104,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,22}</string>
			</dict>
			<key>server_exercise/res/mybattle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,404},{104,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,22}</string>
			</dict>
			<key>server_exercise/res/allbattle1.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,404},{104,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,22}</string>
			</dict>
			<key>server_exercise/res/allbattle2.png</key>
			<dict>
				<key>frame</key>
				<string>{{274,311},{104,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,22}</string>
			</dict>
			<key>server_exercise/res/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,744},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>server_exercise/res/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,817},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>server_exercise/res/rank1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,0},{18,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,28}</string>
			</dict>
			<key>server_exercise/res/rank2.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,890},{26,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,28}</string>
			</dict>
			<key>server_exercise/res/rank3.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,918},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>
			<key>server_exercise/res/user1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{316,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,270}</string>
			</dict>
			<key>server_exercise/res/user2.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,0},{316,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,270}</string>
			</dict>
			<key>server_exercise/res/user3.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,0},{316,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,270}</string>
			</dict>
			<key>server_exercise/res/user4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,428},{316,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{316,270}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>serverexerise.png</string>
			<key>realTextureFileName</key>
			<string>serverexerise.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>