<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>medal/res/chonghzusanci.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,173},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>medal/res/chongzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,688},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>medal/res/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,320},{54,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,59}</string>
			</dict>
			<key>medal/res/di2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,978},{135,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,33}</string>
			</dict>
			<key>medal/res/di3.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,978},{101,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,29}</string>
			</dict>
			<key>medal/res/fangda.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,387},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>medal/res/fengexian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,0},{29,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,2}</string>
			</dict>
			<key>medal/res/fenjie1.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,280},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>medal/res/huoqu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,379},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>medal/res/huoqu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,0},{208,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,56}</string>
			</dict>
			<key>medal/res/I.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,750},{28,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,46}</string>
			</dict>
			<key>medal/res/II.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,642},{37,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,46}</string>
			</dict>
			<key>medal/res/III.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,320},{47,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{47,46}</string>
			</dict>
			<key>medal/res/IV.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,320},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>medal/res/jiahao.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,597},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>medal/res/jinghzu.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,688},{58,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,22}</string>
			</dict>
			<key>medal/res/liebiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,893},{161,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,85}</string>
			</dict>
			<key>medal/res/lvse.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,515},{82,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,82}</string>
			</dict>
			<key>medal/res/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,597},{33,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,27}</string>
			</dict>
			<key>medal/res/baocun.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,401},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>medal/res/qianwang.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,423},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>medal/res/shilianzhuanhua.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,173},{207,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,56}</string>
			</dict>
			<key>medal/res/tankbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{239,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,177}</string>
			</dict>
			<key>medal/res/V.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,597},{40,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,45}</string>
			</dict>
			<key>medal/res/VI.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,320},{49,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,46}</string>
			</dict>
			<key>medal/res/xiexia.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,642},{57,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,22}</string>
			</dict>
			<key>medal/res/xuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,454},{86,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,48}</string>
			</dict>
			<key>medal/res/xunzhang.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,380},{135,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,56}</string>
			</dict>
			<key>medal/res/zhangshi.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,664},{57,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,22}</string>
			</dict>
			<key>medal/res/medal_1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{239,0},{160,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,240}</string>
			</dict>
			<key>medal/res/medal_2.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{479,0},{160,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,240}</string>
			</dict>
			<key>medal/res/medal_3.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{719,0},{160,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,240}</string>
			</dict>
			<key>medal/res/medal_4.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{239,160},{160,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,240}</string>
			</dict>
			<key>medal/res/medal_5.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,173},{160,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,240}</string>
			</dict>
			<key>medal/res/medal_6.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,413},{160,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,240}</string>
			</dict>
			<key>medal/res/medal_7.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,653},{160,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,240}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>medal.png</string>
			<key>realTextureFileName</key>
			<string>medal.png</string>
			<key>size</key>
			<string>{1017,1011}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1011</integer>
		</dict>
	</dict>
</plist>