<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>legion/res/club/jtjlb_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,529},{77,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,27}</string>
			</dict>
			<key>legion/res/club/jtjlb_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,450},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion/res/club/jtjlb_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,474},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion/res/club/jtjlb_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,553},{106,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,20}</string>
			</dict>
			<key>legion/res/club/jtjlb_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,570},{106,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,20}</string>
			</dict>
			<key>legion/res/club/kaishiyanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,575},{106,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,20}</string>
			</dict>
			<key>legion/res/club/likaiyanhui.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,592},{106,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,20}</string>
			</dict>
			<key>legion/res/club/jtjlb_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,758},{391,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,287}</string>
			</dict>
			<key>legion/res/club/party_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,76},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>
			<key>legion/res/club/party_icon_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,76},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>
			<key>legion/res/club/party_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,76},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>
			<key>legion/res/club/farm_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,305},{834,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{834,149}</string>
			</dict>
			<key>legion/res/club/bank_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,456},{834,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{834,149}</string>
			</dict>
			<key>legion/res/club/party_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,607},{834,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{834,149}</string>
			</dict>
			<key>legion/res/club/lock_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,371},{76,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>legion/res/club/unlock_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,450},{76,77}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>legion/res/club/dice_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{834,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{834,150}</string>
			</dict>
			<key>legion/res/club/dice_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,179},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>
			<key>legion/res/club/dice_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,229},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>
			<key>legion/res/club/dice_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,229},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>
			<key>legion/res/club/dice_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,275},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>
			<key>legion/res/club/dice_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,325},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>
			<key>legion/res/club/dice_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,325},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,94}</string>
			</dict>
			<key>legion/res/club/xian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1136},{723,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{723,3}</string>
			</dict>
			<key>legion/res/club/xian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1047},{729,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{729,42}</string>
			</dict>
			<key>legion/res/club/hengtiao111.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,421},{170,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,37}</string>
			</dict>
			<key>legion/res/club/jtsz_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,179},{204,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,48}</string>
			</dict>
			<key>legion/res/club/jtsz_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1},{251,73}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,74}</string>
			</dict>
			<key>legion/res/club/jtsz_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,758},{545,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{545,23}</string>
			</dict>
			<key>legion/res/club/jtsz_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,460},{170,35}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,35}</string>
			</dict>
			<key>legion/res/club/jtsz_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,558},{80,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,23}</string>
			</dict>
			<key>legion/res/club/lingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,1},{56,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,21}</string>
			</dict>
			<key>legion/res/club/meirixinzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,497},{110,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,23}</string>
			</dict>
			<key>legion/res/club/lingquxinzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,522},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>legion/res/club/yinbi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,529},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>legion/res/club/zuanshi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,546},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>legion/res/club/title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1091},{710,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{710,43}</string>
			</dict>
			<key>legion/res/club/skill_pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,153},{834,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{834,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>legion_club.png</string>
			<key>realTextureFileName</key>
			<string>legion_club.png</string>
			<key>size</key>
			<string>{1150,1140}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1150</integer>
			<key>height</key>
			<integer>1140</integer>
		</dict>
	</dict>
</plist>