<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>greatest_race/res/greatest_race_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,223},{172,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,51}</string>
			</dict>
			<key>greatest_race/res/zhichi.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,382},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>greatest_race/res/tongbu.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,486},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>greatest_race/res/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,128},{126,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,93}</string>
			</dict>
			<key>greatest_race/res/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,138},{125,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,93}</string>
			</dict>
			<key>greatest_race/res/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,233},{124,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,93}</string>
			</dict>
			<key>greatest_race/res/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,384},{172,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,51}</string>
			</dict>
			<key>greatest_race/res/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,452},{172,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,51}</string>
			</dict>
			<key>greatest_race/res/shop_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,393},{206,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,57}</string>
			</dict>
			<key>greatest_race/res/shouqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,505},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>greatest_race/res/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,199},{324,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,183}</string>
			</dict>
			<key>greatest_race/res/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,138},{336,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,184}</string>
			</dict>
			<key>greatest_race/res/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,324},{244,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,67}</string>
			</dict>
			<key>greatest_race/res/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,530},{581,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{581,2}</string>
			</dict>
			<key>greatest_race/res/baoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,437},{82,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,29}</string>
			</dict>
			<key>greatest_race/res/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{507,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{507,135}</string>
			</dict>
			<key>greatest_race/res/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,384},{190,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,24}</string>
			</dict>
			<key>greatest_race/res/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,328},{97,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,74}</string>
			</dict>
			<key>greatest_race/res/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,324},{77,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,56}</string>
			</dict>
			<key>greatest_race/res/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,276},{231,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{231,204}</string>
			</dict>
			<key>greatest_race/res/xian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,525},{723,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{723,3}</string>
			</dict>
			<key>greatest_race/res/23123123.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,410},{140,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,29}</string>
			</dict>
			<key>greatest_race/res/sd1221.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,199},{55,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,30}</string>
			</dict>
			<key>greatest_race/res/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1},{348,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{348,196}</string>
			</dict>
			<key>greatest_race/res/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,404},{83,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,45}</string>
			</dict>
			<key>greatest_race/res/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,406},{83,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,45}</string>
			</dict>
			<key>greatest_race/res/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,451},{82,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,45}</string>
			</dict>
			<key>greatest_race/res/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,437},{83,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,45}</string>
			</dict>
			<key>greatest_race/res/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,482},{370,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,41}</string>
			</dict>
			<key>greatest_race/res/e21312.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,453},{103,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,31}</string>
			</dict>
			<key>greatest_race/res/select_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1},{149,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{149,125}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>greatest_race.png</string>
			<key>realTextureFileName</key>
			<string>greatest_race.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>