<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>olympic/res/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,730},{246,344}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,344}</string>
			</dict>
			<key>olympic/res/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,936},{901,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{901,217}</string>
			</dict>
			<key>olympic/res/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,507},{255,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,335}</string>
			</dict>
			<key>olympic/res/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1056,384},{247,344}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,344}</string>
			</dict>
			<key>olympic/res/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,831},{250,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,103}</string>
			</dict>
			<key>olympic/res/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1524,860},{154,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,186}</string>
			</dict>
			<key>olympic/res/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,781},{602,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{602,48}</string>
			</dict>
			<key>olympic/res/18.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,1},{612,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{612,381}</string>
			</dict>
			<key>olympic/res/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,897},{160,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,56}</string>
			</dict>
			<key>olympic/res/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1155},{1280,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1280,165}</string>
			</dict>
			<key>olympic/res/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,690},{205,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,56}</string>
			</dict>
			<key>olympic/res/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,852},{422,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,41}</string>
			</dict>
			<key>olympic/res/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,1},{336,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,529}</string>
			</dict>
			<key>olympic/res/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{692,529}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{692,529}</string>
			</dict>
			<key>olympic/res/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,532},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>
			<key>olympic/res/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,532},{672,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{672,156}</string>
			</dict>
			<key>olympic/res/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1524,1072},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>olympic/res/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,831},{238,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{238,83}</string>
			</dict>
			<key>olympic/res/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1076},{239,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{239,322}</string>
			</dict>
			<key>olympic/res/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,893},{181,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{181,181}</string>
			</dict>
			<key>olympic/res/31.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,916},{236,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,11}</string>
			</dict>
			<key>olympic/res/32.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,384},{359,466}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,466}</string>
			</dict>
			<key>olympic/res/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,1},{400,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,504}</string>
			</dict>
			<key>olympic/res/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,895},{244,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{244,25}</string>
			</dict>
			<key>olympic/res/33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,623},{59,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,64}</string>
			</dict>
			<key>olympic/res/34.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,532},{39,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,51}</string>
			</dict>
			<key>olympic/res/35.png</key>
			<dict>
				<key>frame</key>
				<string>{{2001,585},{39,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,51}</string>
			</dict>
			<key>olympic/res/36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,801},{93,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,46}</string>
			</dict>
			<key>olympic/res/37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,849},{92,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,46}</string>
			</dict>
			<key>olympic/res/38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,690},{467,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{467,89}</string>
			</dict>
			<key>olympic/res/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1588,1072},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>olympic/res/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,955},{172,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,51}</string>
			</dict>
			<key>olympic/res/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,1008},{172,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,50}</string>
			</dict>
			<key>olympic/res/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,602},{97,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,93}</string>
			</dict>
			<key>olympic/res/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,507},{126,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,93}</string>
			</dict>
			<key>olympic/res/jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1968,696},{49,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,51}</string>
			</dict>
			<key>olympic/res/39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,697},{117,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,77}</string>
			</dict>
			<key>olympic/res/40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1562,776},{103,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,82}</string>
			</dict>
			<key>olympic/res/a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1971,638},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>olympic/res/a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,689},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>olympic/res/a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1863,1060},{180,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,13}</string>
			</dict>
			<key>olympic/res/a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,748},{186,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,21}</string>
			</dict>
			<key>olympic/res/1111.png</key>
			<dict>
				<key>frame</key>
				<string>{{1524,1048},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>olympic/res/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,895},{258,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{258,2}</string>
			</dict>
			<key>olympic/res/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,749},{134,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,50}</string>
			</dict>
			<key>olympic/res/1123.png</key>
			<dict>
				<key>frame</key>
				<string>{{1690,532},{218,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,359}</string>
			</dict>
			<key>olympic/res/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,844},{218,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{218,359}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>olympic.png</string>
			<key>realTextureFileName</key>
			<string>olympic.png</string>
			<key>size</key>
			<string>{2048,1399}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1399</integer>
		</dict>
	</dict>
</plist>