<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>newyear_redpacket/res/anniuhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,860},{179,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,86}</string>
			</dict>
			<key>newyear_redpacket/res/anniuhuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,346},{179,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,86}</string>
			</dict>
			<key>newyear_redpacket/res/fahongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,946},{179,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,50}</string>
			</dict>
			<key>newyear_redpacket/res/fengexian.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1017},{30,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,2}</string>
			</dict>
			<key>newyear_redpacket/res/fenxiangbiaoti.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,996},{542,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{542,21}</string>
			</dict>
			<key>newyear_redpacket/res/help.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,883},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>newyear_redpacket/res/hongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,346},{137,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,172}</string>
			</dict>
			<key>newyear_redpacket/res/hongbaodi.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,913},{121,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,30}</string>
			</dict>
			<key>newyear_redpacket/res/hongbaojilu.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,854},{96,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,88}</string>
			</dict>
			<key>newyear_redpacket/res/hongtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,854},{307,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,35}</string>
			</dict>
			<key>newyear_redpacket/res/juntuanhongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,992},{125,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,30}</string>
			</dict>
			<key>newyear_redpacket/res/kaiqianniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,179},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,84}</string>
			</dict>
			<key>newyear_redpacket/res/kaizi.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,914},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>newyear_redpacket/res/leijijine.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,889},{228,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{228,21}</string>
			</dict>
			<key>newyear_redpacket/res/leixing.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,812},{542,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{542,21}</string>
			</dict>
			<key>newyear_redpacket/res/meilingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,0},{93,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,91}</string>
			</dict>
			<key>newyear_redpacket/res/mingzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,950},{331,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{331,21}</string>
			</dict>
			<key>newyear_redpacket/res/open.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,91},{91,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,88}</string>
			</dict>
			<key>newyear_redpacket/res/paihang.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,833},{493,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{493,21}</string>
			</dict>
			<key>newyear_redpacket/res/paihangbang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,913},{124,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,30}</string>
			</dict>
			<key>newyear_redpacket/res/pinshouq.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,946},{293,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,50}</string>
			</dict>
			<key>newyear_redpacket/res/sai.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,943},{125,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,26}</string>
			</dict>
			<key>newyear_redpacket/res/shijiehongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,992},{125,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,30}</string>
			</dict>
			<key>newyear_redpacket/res/shurukang.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,889},{55,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,27}</string>
			</dict>
			<key>newyear_redpacket/res/wodepaiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,971},{156,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,21}</string>
			</dict>
			<key>newyear_redpacket/res/xiaxin.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,910},{86,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,26}</string>
			</dict>
			<key>newyear_redpacket/res/xitongdi.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,910},{134,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,28}</string>
			</dict>
			<key>newyear_redpacket/res/xitonghongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,971},{125,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,30}</string>
			</dict>
			<key>newyear_redpacket/res/xuanzhong_huang.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{139,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,173}</string>
			</dict>
			<key>newyear_redpacket/res/xuanzhong_zi.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,173},{139,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,173}</string>
			</dict>
			<key>newyear_redpacket/res/yasuihongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,883},{125,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,30}</string>
			</dict>
			<key>newyear_redpacket/res/yifachu.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,969},{95,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,30}</string>
			</dict>
			<key>newyear_redpacket/res/yiguoqi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,854},{92,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,47}</string>
			</dict>
			<key>newyear_redpacket/res/yiguoqi2.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,971},{68,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,21}</string>
			</dict>
			<key>newyear_redpacket/res/yishoudao.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,0},{95,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,30}</string>
			</dict>
			<key>newyear_redpacket/res/yunqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,883},{81,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,66}</string>
			</dict>
			<key>newyear_redpacket/res/yunqiwang.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,946},{63,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,45}</string>
			</dict>
			<key>newyear_redpacket/res/zibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,518},{137,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,171}</string>
			</dict>
			<key>newyear_redpacket/res/dinge.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,525},{237,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,50}</string>
			</dict>
			<key>newyear_redpacket/res/xingyun.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,762},{236,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,50}</string>
			</dict>
			<key>newyear_redpacket/res/huangbaoa.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,689},{137,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,171}</string>
			</dict>
			<key>newyear_redpacket/res/biaoqian.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,889},{25,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,36}</string>
			</dict>
			<key>newyear_redpacket/res/xitong.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,833},{236,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{236,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>newyearpa.png</string>
			<key>realTextureFileName</key>
			<string>newyearpa.png</string>
			<key>size</key>
			<string>{1023,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>