<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_ui_yunche1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{234,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,79}}</string>
                <key>sourceSize</key>
                <string>{234,79}</string>
            </dict>
            <key>fx_ui_yunche2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,135},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>fx_ui_yunche3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,50}}</string>
                <key>sourceSize</key>
                <string>{237,50}</string>
            </dict>
            <key>fx_ui_yunche4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{97,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,92}}</string>
                <key>sourceSize</key>
                <string>{97,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_fx_yunche.pvr.ccz</string>
            <key>size</key>
            <string>{241,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40dbd22d32bb547d7f5c21dd20616b43$</string>
            <key>textureFileName</key>
            <string>ui_fx_yunche.pvr.ccz</string>
        </dict>
    </dict>
</plist>
