<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>happy_fiveday/res/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,0},{199,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,31}</string>
			</dict>
			<key>happy_fiveday/res/suo.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,0},{32,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,40}</string>
			</dict>
			<key>happy_fiveday/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,0},{95,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,30}</string>
			</dict>
			<key>happy_fiveday/res/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,0},{95,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,30}</string>
			</dict>
			<key>happy_fiveday/res/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,0},{95,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,30}</string>
			</dict>
			<key>happy_fiveday/res/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,0},{95,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,30}</string>
			</dict>
			<key>happy_fiveday/res/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,0},{95,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,30}</string>
			</dict>
			<key>happy_fiveday/res/anniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{179,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,86}</string>
			</dict>
			<key>happy_fiveday/res/anniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,0},{179,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>happyfive.png</string>
			<key>realTextureFileName</key>
			<string>happyfive.png</string>
			<key>size</key>
			<string>{1007,95}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1007</integer>
			<key>height</key>
			<integer>95</integer>
		</dict>
	</dict>
</plist>