<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>collect_dumplings/res/128.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,0},{81,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,94}</string>
			</dict>
			<key>collect_dumplings/res/129.png</key>
			<dict>
				<key>frame</key>
				<string>{{749,0},{81,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,95}</string>
			</dict>
			<key>collect_dumplings/res/130.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,0},{81,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,94}</string>
			</dict>
			<key>collect_dumplings/res/131.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,90},{81,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,91}</string>
			</dict>
			<key>collect_dumplings/res/132.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,92},{96,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,72}</string>
			</dict>
			<key>collect_dumplings/res/133.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,81},{82,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,75}</string>
			</dict>
			<key>collect_dumplings/res/134.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,171},{98,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,68}</string>
			</dict>
			<key>collect_dumplings/res/135.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,109},{96,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,63}</string>
			</dict>
			<key>collect_dumplings/res/136.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,40},{90,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,69}</string>
			</dict>
			<key>collect_dumplings/res/137.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,0},{88,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,93}</string>
			</dict>
			<key>collect_dumplings/res/138.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{92,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,90}</string>
			</dict>
			<key>collect_dumplings/res/139.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,0},{92,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,94}</string>
			</dict>
			<key>collect_dumplings/res/140.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,88},{88,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,85}</string>
			</dict>
			<key>collect_dumplings/res/141.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,40},{89,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,85}</string>
			</dict>
			<key>collect_dumplings/res/anniu.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,173},{109,47}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,53}</string>
			</dict>
			<key>collect_dumplings/res/baobao.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,173},{77,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,28}</string>
			</dict>
			<key>collect_dumplings/res/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,0},{202,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,40}</string>
			</dict>
			<key>collect_dumplings/res/hengtiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{268,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{268,111}</string>
			</dict>
			<key>collect_dumplings/res/huodongjieshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,109},{163,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{163,26}</string>
			</dict>
			<key>collect_dumplings/res/jiantou.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,195},{67,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,44}</string>
			</dict>
			<key>collect_dumplings/res/saodang.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,153},{60,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,22}</string>
			</dict>
			<key>collect_dumplings/res/tian.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,195},{32,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,26}</string>
			</dict>
			<key>collect_dumplings/res/tiaozhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,92},{61,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,22}</string>
			</dict>
			<key>collect_dumplings/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,125},{82,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>collect_dumplings/res/saodangshici.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,171},{103,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,23}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>dumping.png</string>
			<key>realTextureFileName</key>
			<string>dumping.png</string>
			<key>size</key>
			<string>{1019,282}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1019</integer>
			<key>height</key>
			<integer>282</integer>
		</dict>
	</dict>
</plist>