<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>accessories/res/part4.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,128},{80,64}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/partbg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,82},{76,59}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/partbg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,137},{72,62}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/part5.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,56},{81,69}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/part8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,56},{85,78}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/partbg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,134},{83,77}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/part2.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,136},{83,62}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/partbg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,64},{80,57}}</string>
				<key>offset</key>
				<string>{3,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/part1.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,0},{82,83}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/partbg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,56},{80,82}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/part6.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,56},{72,80}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/partbg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,0},{66,72}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/part7.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,127},{71,74}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/partbg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,192},{65,68}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/part3.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,56},{84,71}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/partbg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,0},{75,64}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>accessories/res/yijianfenjie2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{201,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,56}</string>
			</dict>
			<key>accessories/res/yijianronglian.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,0},{201,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,56}</string>
			</dict>
			<key>accessories/res/ronglian.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,199},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>accessories/res/ronglian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,141},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>accessories/res/yijianfenjie.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,141},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>accessories/res/fenjie.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,236},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>accessories/res/jifen.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,141},{43,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,48}</string>
			</dict>
			<key>accessories/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,199},{43,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Part.png</string>
			<key>realTextureFileName</key>
			<string>Part.png</string>
			<key>size</key>
			<string>{632,298}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>632</integer>
			<key>height</key>
			<integer>298</integer>
		</dict>
	</dict>
</plist>