<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>discount_sale/res/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,84},{19,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,15}</string>
			</dict>
			<key>discount_sale/res/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{707,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{707,165}</string>
			</dict>
			<key>discount_sale/res/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,0},{84,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,85}</string>
			</dict>
			<key>discount_sale/res/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,0},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>
			<key>discount_sale/res/button.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,0},{189,75}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,76}</string>
			</dict>
			<key>discount_sale/res/zhekou4.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,84},{39,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,38}</string>
			</dict>
			<key>discount_sale/res/zhekou5.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,75},{41,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,38}</string>
			</dict>
			<key>discount_sale/res/zhekou6.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,54},{42,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,38}</string>
			</dict>
			<key>discount_sale/res/zhekou7.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,92},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>discount_sale/res/zhekou8.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,75},{40,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,38}</string>
			</dict>
			<key>discount_sale/res/zhekou9.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,84},{40,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,38}</string>
			</dict>
			<key>discount_sale/res/zhekou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,113},{30,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,46}</string>
			</dict>
			<key>discount_sale/res/zhekou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,75},{51,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,46}</string>
			</dict>
			<key>discount_sale/res/zhekou3.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,75},{45,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui.png</string>
			<key>realTextureFileName</key>
			<string>ui.png</string>
			<key>size</key>
			<string>{1023,165}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>165</integer>
		</dict>
	</dict>
</plist>