<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>legion_war/res/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,127},{111,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,32}</string>
			</dict>
			<key>legion_war/res/b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,226},{132,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,41}</string>
			</dict>
			<key>legion_war/res/b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,227},{131,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,41}</string>
			</dict>
			<key>legion_war/res/b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,269},{131,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,41}</string>
			</dict>
			<key>legion_war/res/baoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,281},{77,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,28}</string>
			</dict>
			<key>legion_war/res/baomingqingkuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,227},{116,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,24}</string>
			</dict>
			<key>legion_war/res/chakan.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,350},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>legion_war/res/chu.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,311},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion_war/res/legion_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,305},{174,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,24}</string>
			</dict>
			<key>legion_war/res/user_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,331},{174,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,24}</string>
			</dict>
			<key>legion_war/res/game_title_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,45},{202,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,80}</string>
			</dict>
			<key>legion_war/res/dueihuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,346},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion_war/res/fu.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,333},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion_war/res/legion_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,359},{174,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,24}</string>
			</dict>
			<key>legion_war/res/user_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,379},{174,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,24}</string>
			</dict>
			<key>legion_war/res/game_title_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,45},{205,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,80}</string>
			</dict>
			<key>legion_war/res/g.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,226},{133,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,62}</string>
			</dict>
			<key>legion_war/res/g2.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,312},{77,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,36}</string>
			</dict>
			<key>legion_war/res/g3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,316},{77,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,36}</string>
			</dict>
			<key>legion_war/res/jue.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,335},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>legion_war/res/legion_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,379},{174,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,24}</string>
			</dict>
			<key>legion_war/res/user_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,379},{174,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,24}</string>
			</dict>
			<key>legion_war/res/game_title_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,1},{206,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,80}</string>
			</dict>
			<key>legion_war/res/junzhan.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,289},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>legion_war/res/l1.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,357},{256,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,20}</string>
			</dict>
			<key>legion_war/res/l2.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,259},{132,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,20}</string>
			</dict>
			<key>legion_war/res/l3.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,45},{9,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,190}</string>
			</dict>
			<key>legion_war/res/l4.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,227},{44,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,63}</string>
			</dict>
			<key>legion_war/res/legion_rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,161},{117,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,24}</string>
			</dict>
			<key>legion_war/res/user_rank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,290},{117,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,24}</string>
			</dict>
			<key>legion_war/res/q2.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,333},{67,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,44}</string>
			</dict>
			<key>legion_war/res/q3.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,137},{61,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,52}</string>
			</dict>
			<key>legion_war/res/q4.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,191},{61,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,52}</string>
			</dict>
			<key>legion_war/res/q5.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,245},{61,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{61,52}</string>
			</dict>
			<key>legion_war/res/c_b_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,116},{290,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,53}</string>
			</dict>
			<key>legion_war/res/c_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,127},{290,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,53}</string>
			</dict>
			<key>legion_war/res/c_b_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,171},{290,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,53}</string>
			</dict>
			<key>legion_war/res/c_t_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,87},{72,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,48}</string>
			</dict>
			<key>legion_war/res/c_t_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,350},{74,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,37}</string>
			</dict>
			<key>legion_war/res/c_t_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,389},{70,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,38}</string>
			</dict>
			<key>legion_war/res/shengli.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,312},{57,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,46}</string>
			</dict>
			<key>legion_war/res/shibai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,391},{57,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,45}</string>
			</dict>
			<key>legion_war/res/vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,83},{116,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,107}</string>
			</dict>
			<key>legion_war/res/vs1.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,1},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,84}</string>
			</dict>
			<key>legion_war/res/wode.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,313},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>legion_war/res/yibaoming.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,354},{76,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,35}</string>
			</dict>
			<key>legion_war/res/zongpaiming.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,322},{81,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,22}</string>
			</dict>
			<key>legion_war/res/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,45},{297,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,69}</string>
			</dict>
			<key>legion_war/res/xian1.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,429},{723,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{723,3}</string>
			</dict>
			<key>legion_war/res/xian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{729,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{729,42}</string>
			</dict>
			<key>legion_war/res/diwen.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,182},{275,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,43}</string>
			</dict>
			<key>legion_war/res/result_t_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,253},{116,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,24}</string>
			</dict>
			<key>legion_war/res/result_t_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,270},{116,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,24}</string>
			</dict>
			<key>legion_war/res/result_t_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,279},{116,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,24}</string>
			</dict>
			<key>legion_war/res/hh.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,299},{103,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,32}</string>
			</dict>
			<key>legion_war/res/k.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,187},{133,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,70}</string>
			</dict>
			<key>legion_war/res/b_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,405},{205,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,14}</string>
			</dict>
			<key>legion_war/res/b_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,337},{78,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,8}</string>
			</dict>
			<key>legion_war/res/b_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,385},{205,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,18}</string>
			</dict>
			<key>legion_war/res/b_tuichu.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,296},{116,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,24}</string>
			</dict>
			<key>legion_war/res/angle_icon_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,83},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>legion_war/res/angle_icon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,180},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>legion_war/res/me.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,192},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>legion_war/res/me2.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,277},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>legion_war/res/BK_t6.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,281},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>legion_war.png</string>
			<key>realTextureFileName</key>
			<string>legion_war.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>