<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Military_rank/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,902},{96,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,50}</string>
			</dict>
			<key>Military_rank/res/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,979},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>Military_rank/res/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1013},{9,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,59}</string>
			</dict>
			<key>Military_rank/res/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,542},{172,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,50}</string>
			</dict>
			<key>Military_rank/res/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,100},{172,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,51}</string>
			</dict>
			<key>Military_rank/res/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,979},{139,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{139,45}</string>
			</dict>
			<key>Military_rank/res/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,478},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>Military_rank/res/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,585},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>Military_rank/res/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,692},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>Military_rank/res/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,198},{172,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,50}</string>
			</dict>
			<key>Military_rank/res/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,799},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>Military_rank/res/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,906},{669,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{669,59}</string>
			</dict>
			<key>Military_rank/res/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,979},{69,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,44}</string>
			</dict>
			<key>Military_rank/res/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,370},{69,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,44}</string>
			</dict>
			<key>Military_rank/res/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{902,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{902,100}</string>
			</dict>
			<key>Military_rank/res/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,0},{902,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{902,100}</string>
			</dict>
			<key>Military_rank/res/27.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,418},{210,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,50}</string>
			</dict>
			<key>Military_rank/res/28.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,418},{210,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,50}</string>
			</dict>
			<key>Military_rank/res/29.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,370},{172,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,51}</string>
			</dict>
			<key>Military_rank/res/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,100},{406,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{406,65}</string>
			</dict>
			<key>Military_rank/res/30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,906},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>Military_rank/res/31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,0},{478,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{478,20}</string>
			</dict>
			<key>Military_rank/res/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,902},{283,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{283,77}</string>
			</dict>
			<key>Military_rank/res/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,100},{318,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{318,57}</string>
			</dict>
			<key>Military_rank/res/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,965},{386,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{386,43}</string>
			</dict>
			<key>Military_rank/res/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{412,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,124}</string>
			</dict>
			<key>Military_rank/res/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,965},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>Military_rank/res/q1.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,998},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>Military_rank/res/jungong.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,272},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>Military_rank/res/68.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,100},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>Military_rank/res/69.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,100},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>Military_rank/res/70.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,248},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>Military_rank/res/71.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,198},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,98}</string>
			</dict>
			<key>Military_rank/res/huoqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1001},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>Military_rank/res/all.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,965},{225,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,48}</string>
			</dict>
			<key>Military_rank/res/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,100},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Military_rank.png</string>
			<key>realTextureFileName</key>
			<string>Military_rank.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>