<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gold_bunker/res/biaoji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1776,470},{72,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,71}</string>
			</dict>
			<key>gold_bunker/res/buzhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,1},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>gold_bunker/res/ceng.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,603},{430,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{430,33}</string>
			</dict>
			<key>gold_bunker/res/chongzhi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,25},{62,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,22}</string>
			</dict>
			<key>gold_bunker/res/chongzhitishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,455},{147,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,46}</string>
			</dict>
			<key>gold_bunker/res/d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,113},{35,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,26}</string>
			</dict>
			<key>gold_bunker/res/di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,1},{243,467}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{243,467}</string>
			</dict>
			<key>gold_bunker/res/dianti1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1854,1},{122,720}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,720}</string>
			</dict>
			<key>gold_bunker/res/dibao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,723},{192,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,68}</string>
			</dict>
			<key>gold_bunker/res/hei1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,470},{165,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{165,230}</string>
			</dict>
			<key>gold_bunker/res/huodejiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,882},{167,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,50}</string>
			</dict>
			<key>gold_bunker/res/jiangliyulan.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,638},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>gold_bunker/res/jiangliyulan1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,824},{205,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,56}</string>
			</dict>
			<key>gold_bunker/res/jiaoxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1283,1},{324,668}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,668}</string>
			</dict>
			<key>gold_bunker/res/jiaoxiang2.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,603},{271,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,317}</string>
			</dict>
			<key>gold_bunker/res/jinrudibao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,555},{133,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,27}</string>
			</dict>
			<key>gold_bunker/res/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,350},{197,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{197,79}</string>
			</dict>
			<key>gold_bunker/res/xin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,49},{35,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,30}</string>
			</dict>
			<key>gold_bunker/res/xin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1978,81},{35,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,30}</string>
			</dict>
			<key>gold_bunker/res/paihangbang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,379},{81,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,22}</string>
			</dict>
			<key>gold_bunker/res/paihangbang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,603},{250,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,56}</string>
			</dict>
			<key>gold_bunker/res/q1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,925},{224,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,47}</string>
			</dict>
			<key>gold_bunker/res/shanguang.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,208},{271,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{271,246}</string>
			</dict>
			<key>gold_bunker/res/tiaozhanhuode.png</key>
			<dict>
				<key>frame</key>
				<string>{{1841,793},{203,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,57}</string>
			</dict>
			<key>gold_bunker/res/louceng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1280,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1280,205}</string>
			</dict>
			<key>gold_bunker/res/1s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,473},{712,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{712,128}</string>
			</dict>
			<key>gold_bunker/res/2s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,341},{712,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{712,130}</string>
			</dict>
			<key>gold_bunker/res/3s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,208},{712,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{712,131}</string>
			</dict>
			<key>gold_bunker/res/4s.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,922},{712,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{712,128}</string>
			</dict>
			<key>gold_bunker/res/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,802},{275,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,121}</string>
			</dict>
			<key>gold_bunker/res/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,882},{264,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,119}</string>
			</dict>
			<key>gold_bunker/res/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,742},{272,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,138}</string>
			</dict>
			<key>gold_bunker/res/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,974},{417,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{417,147}</string>
			</dict>
			<key>gold_bunker/res/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1547,702},{292,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,120}</string>
			</dict>
			<key>gold_bunker/res/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,456},{402,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,139}</string>
			</dict>
			<key>gold_bunker/res/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,208},{284,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{284,140}</string>
			</dict>
			<key>gold_bunker/res/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,671},{291,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{291,129}</string>
			</dict>
			<key>gold_bunker/res/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,597},{294,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,143}</string>
			</dict>
			<key>gold_bunker/res/zanweikaifang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1776,543},{75,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,20}</string>
			</dict>
			<key>gold_bunker/res/shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1643,1004},{386,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{386,78}</string>
			</dict>
			<key>gold_bunker/res/meirijiangli.png</key>
			<dict>
				<key>frame</key>
				<string>{{1716,852},{203,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,56}</string>
			</dict>
			<key>gold_bunker/res/daily_rewards_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,671},{612,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{612,220}</string>
			</dict>
			<key>gold_bunker/res/mrjl.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,431},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>gold_bunker/res/dqjd.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,638},{118,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,23}</string>
			</dict>
			<key>gold_bunker/res/klqmejl.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,638},{201,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,23}</string>
			</dict>
			<key>gold_bunker/res/line.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,663},{615,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{615,3}</string>
			</dict>
			<key>gold_bunker/res/lingqu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,431},{107,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,22}</string>
			</dict>
			<key>gold_bunker/res/level_rewards.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,503},{129,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,50}</string>
			</dict>
			<key>gold_bunker/res/abc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1678,910},{355,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,92}</string>
			</dict>
			<key>gold_bunker/res/jixu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,350},{77,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui.png</string>
			<key>realTextureFileName</key>
			<string>ui.png</string>
			<key>size</key>
			<string>{2045,1122}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2045</integer>
			<key>height</key>
			<integer>1122</integer>
		</dict>
	</dict>
</plist>